@using DeleteBoilerplate.Account.Constants
@model DeleteBoilerplate.Account.Models.LoginViewModel
@{
    Layout = null;
}


<form method="post" action="@Url.RouteUrl(RouteNames.Account.Login)">

    @Html.ValidationSummary()

    <div>
        @Html.TextBoxFor(it => it.Email,
            new { placeholder = Html.DisplayNameFor(it => it.Email) })
    </div>
    <div class="form__row">
        @Html.PasswordFor(it => it.Password,
            new { placeholder = Html.DisplayNameFor(it => it.Password) })
    </div>
    <div>
        <button type="submit">Sign in</button>
    </div>
</form>
