@using System.Web.Mvc.Html
@model DeleteBoilerplate.GenericComponents.Models.Widgets.ContentBlockWidget.ContentBlockWidgetViewModel

@*@Html.RegisterStyleEntryPoint("content-block.css")*@

@if (Model != null)
{
    <section class="component" aria-label="section with text information">
        <div class="content-block">
            @Html.EditorFor(it => it.Text, "RichTextEditorTemplate",
                new { PlaceholderText = Model.GetPlaceholder("Content") })
        </div>
    </section>
}