@using System.Web.Mvc.Html
@using DeleteBoilerplate.GenericComponents.Models.InlineEditors
@using DeleteBoilerplate.GenericComponents.Models.Widgets.ImageWidget
@using DeleteBoilerplate.Infrastructure.Extensions
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@model DeleteBoilerplate.GenericComponents.Models.Widgets.ImageWidget.ImageWidgetViewModel

@if (Model != null)
{
    <section class="component" aria-label="section with image">
        <div class="image">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                Html.RenderPartial("InlineEditors/_ImageSelector", new ImageSelectorViewModel
                {
                    PropertyName = nameof(ImageWidgetProperties.Images),
                });
            }

            @if (Model.Images != null && Model.Images.Any())
            {
                foreach (var image in Model.Images)
                {
                    //ToDo: use attribute data-srcset (needs assets for it)
                    <img srcset="@Html.GetResizedSrcSet(image.Url)" alt="@image.Title" class="lazyload" data-sizes="auto">
                }
            }
        </div>
    </section>
}
