@model DeleteBoilerplate.Projects.Models.ProjectViewModel

<body>
    <div>
        @Model.Year - @Model.Description
    </div>
    <div>
        <img src="@Model.ImageUrl" width="200" height="200" />
    </div>
</body>