@model DeleteBoilerplate.Projects.Models.ProjectViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.Year - @Model.Description
    </div>
</body>
</html>
