@using DeleteBoilerplate.Projects.Models;
@model IEnumerable<ProjectViewModel>
    
<h1>List of projects: </h1>

<ul>
    @foreach (var project in Model)
    {
        <li>@project.Description</li>
    }
</ul>