@model DeleteBoilerplate.WebApp.Models.Global.Header.HeaderViewModel
@{
    Layout = null;
}

<header class="header">
    @if (Model.HeaderNavigationLinks.Count > 0)
    {
        <ul>
            @foreach (var navigationLink in Model.HeaderNavigationLinks)
            {
                <li style="display: inline-block;@(navigationLink.IsActive ? "background:#ade66c;" : string.Empty)">
                    <a href="@navigationLink.Url">@navigationLink.Title</a>
                </li>
            }
        </ul>
    }
</header>