<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" targetFramework="4.7.2"  xdt:Transform="Replace"/>
  </system.web>
  <glimpse defaultRuntimePolicy="Off" xdt:Transform="SetAttributes" />
</configuration>