@using Kentico.PageBuilder.Web.Mvc

@if (Context.Kentico().PageBuilder().EditMode)
{
    @section styles
    {
        @Html.Kentico().PageBuilderStyles()
    }

    @section scripts
    {
        @Html.Kentico().PageBuilderScripts()
    }
}

<body>

    @Html.Kentico().EditableArea("deleteboilerplate-main", "DeleteBoilerplate.OneFullWidthColumnSection")

</body>