@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome</h1>
<p>The site has not been configured yet.</p>

@* See ~/App_Start/ApplicationConfig.cs, ~/Controllers/HomeController.cs and ~/Views/Shared/_Layout.cshtml
   Uncomment the following lines to insert a Page builder editable area *@
@*<div>
        @Html.Kentico().EditableArea("main")
</div>*@