$color-dark-grey: #363636;

$color-disabled-background: rgb(235, 235, 228);
$color-disabled-border: rgb(169, 169, 169);
$color-disabled-text: rgb(128, 128, 128);
$color-focus-outline: rgba(59, 153, 252, 0.7);
